#site-navbar {
  background-color: $color-primary;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

#page-header {
  background-image: url("cdc-w9KEokhajKw-unsplash.jpg");
  background-size: 100vw auto;
  background-position: center center;
  background-repeat: no-repeat;
}
